{% extends 'base.html' %} {% block title %}Home Page{% endblock title%} {% block content %}
{% csrf_token %}
<link rel="stylesheet" href="/static/publicwall/index/index.css">
<!-- -->
<script>
    window.PAGE_ID = "index";
</script>
<!--
<script src="/static/publicwall/elegen.closure.js"></script>
<script src="/static/publicwall/index.closure.js"></script>
-->
<script defer src="/static/publicwall/index/CommentHandler.js"></script>
<script defer src="/static/publicwall/index/Checkbox.js"></script>
<script defer src="/static/publicwall/index/Base.js"></script>
<script defer src="/static/publicwall/index/Comment.js"></script>
<script defer src="/static/publicwall/index/Post.js"></script>
<script defer src="/static/publicwall/index/Misc.js"></script>
<script>
    /* init */
    // run init script onReady
    $(function(){
        com.info.Base.init()
    });
</script>
<div class="container">
    <div class="row">
        <div class="col">
            <div id="content">
                {# content goes here #}

            </div>
            <div id="posts">

            </div>
        </div>
    </div>
</div>
<!-- DOM -->


{% endblock content %}
