.float-right {
    display:inline-block;
    float:right;
    /* color:#797979; */
    top:0;
    font-size:13px;
}
.link{
    cursor:pointer;
    color:blue!important;
    text-decoration:underline!important;
  }
.commentbox{
  /* background-color: lightgrey; */
  /* padding-left: 43px;
  padding-right: 43px; */
}

.grey {
  /* color: #797979; */
}

.postUnder {
  padding-left: 8%;
  padding-right: 8%;
}